@model Buffet.Acesso.MsgAcessoViewModel;
@{
    ViewData["Title"] = "Cadastro";
}
<h1>@ViewData["Title"]</h1> 

@if(Model.Mensagem != null) 
{
    <br /><br />
    <p>@Model.Mensagem</p>
}

<div class="text-center">
    <form action="/Home/Cadastro" method="post">
        <label for="user">Usuário:</label>
        <input type="text" name="user" id="user" /><br />
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" /><br />
        <input type="submit" value="Cadastrar" />
    </form>
</div>
